<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Vehicle</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>➕ Add New Vehicle</h1>
        
        <form action="/addVehicle" method="post">
            <label>Vehicle Number:</label>
            <input type="text" name="vehicleNumber" required><br>
            
            <label>Driver Name:</label>
            <input type="text" name="driverName" required><br>
            
            <label>Driver Phone:</label>
            <input type="text" name="driverPhone" required><br>
            
            <label>Current Location:</label>
            <input type="text" name="currentLocation"><br>
            
            <button type="submit">Add Vehicle</button>
        </form>
        
        <br>
        <a href="/vehicles">← Back to Vehicles</a>
    </div>
</body>
</html>