<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logistics Tracking System</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <h1>🚚 Logistics Tracking System</h1>
        <div class="menu">
            <a href="/dashboard" class="btn">📊 Dashboard</a>
            <a href="/track" class="btn">🔍 Track Shipment</a>
            <a href="/vehicles" class="btn">🚛 Vehicles</a>
            <a href="/addShipmentForm" class="btn">➕ Add Shipment</a>
            <a href="/addVehicleForm" class="btn">➕ Add Vehicle</a>
			<a href="/assignments" class="btn">🔗 Vehicle Assignments</a>
        </div>
    </div>
</body>
</html>